<div class="container">
    <div class="content">
      <div class="row">
        <div class="login-form">
          <h2>Sign Up</h2>
          <h4>Create a username to check out your options and keep track of where you've been!</h4>  
          <%= form_for @user do |f|  %>  
            <% if @user.errors.any? %>  
              <div class="alert alert-error">     
                  <% for message in @user.errors.full_messages %>  
                    <%= message %>
                  <% end %>  
              </div>  
            <% end %>  
            <fieldset>
          <div class="clearfix"> 
            <p>  
              <%= f.text_field :username, :placeholder => 'username' %>  
            </p> 
            </div> 
          
            <p><%= f.submit "Sign Up", :class => "btn btn-main" %></p>  
          <% end %> 
          Already signed up? <span id="signup"><%= link_to "Log In", new_session_path %></span>
          </div>