<div>

<div class="span5">
  <h1>Restaurants</h1>
  <div class="accordion" id="accordion2">

    <ul class="restaurants"><% @user_restaurants.sort_by{|r| r.restaurant.name}.each do |r| %>
      <li>
        <div class="row-fluid">

      <div class="accordion-group">
      <div class="accordion-heading">
        <% check_value = true if r.attended == true %>
        <%= check_box_tag r.id, 'yes', check_value, :class => 'regular-checkbox', :style => "margin: 3px;" %>
        <span class="restaurantname">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= r.restaurant.name.downcase.gsub(/\s+/, "").gsub('&', "").gsub(/'/, "") %>">
        <%= r.restaurant.name %></a>
      </span>
      </div>
      </div>
      <div id="collapse<%= r.restaurant.name.downcase.gsub(/\s+/, "").gsub('&', "").gsub(/'/, "") %>" class="accordion-body collapse out">
        <div class="accordion-inner">
          <% r.restaurant.dishes.each do |dish| %>
            <%= dish.name %></br>
          <% end %>
        </div>
      </div>
      </div>
         <% end %>

      </li>
    </ul>

  </div> 
</div>
</div>

<div>
<div class="span7 hidden-phone">
  <%= image_tag("ThrillistAd1.jpg", :class => 'photo') %>
  <%= image_tag("ThrillistAd4.jpg", :class => 'photo') %>
  <%= image_tag("ThrillistAd5.jpg", :class => 'photo') %>
  <%= image_tag("ThrillistAd3.jpg", :class => 'photo') %>
  <%= image_tag("ThrillistAd2.jpg", :class => 'photo') %>
</div>
</div>
    </div>
  </div>
  </div>
</div>