<!DOCTYPE html>
<html>
<head>
  <title>Tasteofthenation</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
</head>
<body>

  <header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
    <div class="container">
        <%= image_tag("IcoreNY4.png", :class => 'logo') %>
    <ul class="user_nav">  
      <% if current_user %>  
        <li><%= link_to "Restaurants", restaurants_path %></li> |
        <li><%= link_to "Bars", bars_path %></li> |
        <li><%= link_to "Book Signings", booksignings_path %></li> |
        <li><%= link_to "Live Auctions", live_auction_path %></li> |
        <li><%= link_to "Log out", log_out_path %></li> |
        <li>logged in as <%= current_user.username %></li>
      <% else %>  
         
      <% end %>  
    </ul> 
    </div>
    </nav>
  </header>
  
  <%# flash.each do |name, msg| %>  
    <%#= content_tag :div, msg, :id => "flash#{name}" %>  
  <%# end %>  

<%= yield %>


</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38965200-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>

